body, html {
    color: #777;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(158deg,#0075b9 0%,rgba(0,243,255,0.5) 100%);
    background-attachment: fixed;
}

#header {
    height: 70px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    height: 60px;
    margin-top: 5px;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

#header > h1 {
    display: inline-block;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    bottom: 15px;
}

#content {
    position: absolute;
    top: 80px;
    height: calc(100vh - 80px);
    width: 100%;
}

#blocks {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.block {
    flex-grow: 1;
    height: 33.3333%;
    transition: all 0.1s ease-in-out;
}

.block > a {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 30pt;
}

.block > a:hover {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}

.block > a > img {
    width: 100%;
    max-height: 75px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#content > iframe {
    width: 100%;
    height: 100%;
    border-width: 0;
    z-index: 10000;
}

/* Helper Classes */

.block-full {
    flex-basis: 100%;
}

.block-half {
    flex-basis: 50%;
}

.block-third {
    flex-basis: 33%;
}

/* Mobile Tweaks */

@media only screen and (max-width: 600px) {
    
    body, html {
        min-height: calc(100% + 80px);   
    }

    .block-full {
        flex-basis: 100%;
    }

    .block-half {
        flex-basis: 100%;
    }

    .block-third {
        flex-basis: 100%;
    }

    #logo {
        width: 40%;
    }

    #header > h1 {
        font-size: 30px;
        bottom: 24px;
    }

}
